@page
@model AspNet1.Pages.First_restoranModel
@{
}

<div>
    <h1>Loona Restaurant & Karaoke</h1>
    <img src="https://media-cdn.tripadvisor.com/media/photo-m/1280/1a/ff/b5/02/loona-restaurant-karaoke.jpg" alt="Alternate Text" />
    <h2>
        Всім любителям караоке і смачно поїсти, сюди!)
        Караоке-ресторан, популярна паназіатська кухня, прекрасний вид з вікна, ввічливе обслуговування, компліменти закоханим парам. Нам було дуже приємно і смачно з вами! Я вже рекомендував його своїм друзям, яких зацікавив ресторан з караоке.
    </h2>
</div>