@page
@model AspNet1.Pages.Second_restoranModel
@{
}
<div>
    <h1>Godz Hookah Cocktails</h1>
    <img src="https://media-cdn.tripadvisor.com/media/photo-o/16/65/c0/42/caption.jpg" alt="Alternate Text" />
    <h2>
        GODZ REST – це не тільки місце, де можна солодко покурити, а й ресторан з божевільною кухнею. 😏 А про наші коктейлі ходять чутки по всьому Києву...
        Зробіть цей день крутішим, замовте столик і пориньте в атмосферу кайфу!
        GODZ - солодко жити! 🍸
    </h2>
</div>