@page
@model AspNet1.Pages.Practice2Model
@{
}

<div>
    <h1>Fujiwara YOSHI</h1>
    <img src="https://media-cdn.tripadvisor.com/media/photo-m/1280/19/09/21/5f/vip.jpg" alt="Alternate Text" />
    <h2>
        АТМОСФЕРА FUJIWARA YOSHI
        Справжній японський ресторан у Києві.
        Власник та шеф-кухар японець Йошіхіро Фудзівара. Який є Послом Доброї Волі Японії у сфері кулінарії.

        Традиційний Японський інтер’єр, окремий VIP-зал та кімната татамі, контактний суші-бар, лаунж-зона з диванами, дитячий куточок, окреме паркування та wi-fi.
        Роли, суші, сашимі — все як в Японії.
    </h2>
</div>